td {
    width: 200px;
    height: 400px;
    border: #ffffff 3px solid;

}


#spectrum {
    font-family: 'Arizonia', cursive;
    font-size: 6em;
    text-align: center;
    margin: 0px 0px 50px 0px;
}

#box1 {
    background: #E4572E;
}

#box2 {
    background: #17BEBB;
}

#box3 {
    background: #FFC914;
}

#box4 {
    background: #413B3D;
}

#box5 {
    background: #76B041;
}